{% extends 'events/base.html' %}

{% block content %}

<h1> Venues.... </h1>
<br/>

<table class="table table-hover table-striped table-bordered">
{% for venue in venue_list %}
<tr>
    <td>
        <a href="{% url 'show-venue' venue.id %}">{{venue}}</a>
    </td>
    <td align = "right">
        <a href="{% url 'update-venue' venue.id %}" type="button" class="btn btn-outline-secondary btn-sm">Update</a>
        <a href="{% url 'delete-venue' venue.id %}" type="button" class="btn btn-outline-danger btn-sm">Delete</a>
        <a href="{% url 'venue-text' venue.id %}" type="button" class="btn btn-outline-info btn-sm">Download</a>
    </td>
</tr>
{% endfor %}
</table>


{% endblock %}

